@import "../../vars.css";

.container {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.games {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    padding: 1px 22px;
    text-align: center;
    margin: 1rem;
    position: relative;
}

.link:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: -1%;
    top: -5px;
    background-color: var(--color-primary);
    transform: skewX(30deg);
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .link:hover:before {
    transform: skewX(0deg);
    left: 50%;
    top: 0;
  }
  
  .link:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: 50%;
    top: 5px;
    background-color: var(--color-dark);
    transform: skewX(30deg);
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .link:hover:after {
    transform: skewX(0deg);
    left: 0%;
    top: 0;
  }


.game {
    position: relative;
    width: 100%;
    height: 800px;
    margin-bottom: 5%;
}

.gameInfoLeft h1,
.gameInfoRight h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.gameImageContainerLeft {
    position: relative;
    background-color: #3d5a801c;
    border-radius: 1rem;
    width: 75%;
    height: 100%;
}

.gameImageContainerLeft:hover,
.gameImageContainerRight:hover {
    transform: scale(0.9);
}

.gameImageLeft {
    position: absolute;
    width: 85%;
    top: 15%;
    height: 70%;
}

.gameInfoLeft {
    position: absolute;
    top: 15%;
    right: -5%;
    padding: 1rem;
    width: 600px;

}

.gameImageContainerRight {
    position: relative;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    width: 75%;
    height: 100%;
    float: right;
}

.gameImageRight {
    position: absolute;
    width: 85%;
    top: 15%;
    right: 0;
    height: 70%;
}

.gameInfoRight {
    position: absolute;
    top: 15%;
    left: -5%;
    padding: 1rem;
    width: 600px;
}

@media screen and (max-width: 1790px) {
    .game{
        margin-bottom: 15%;
    }

    .gameImageContainerLeft,
    .gameImageContainerRight {
        height: 100%;
        width: 100%;
        margin-bottom: 100px;
    }

    .gameInfoLeft {
        position: relative;
        top: -25%;
        right: 0;
        padding: 1rem;
        width: 600px;
    }

    .gameInfoRight {
        position: relative;
        top: -25%;
        left: 0;
        padding: 1rem;
        width: 600px;
    }
}

@media screen and (max-width: 830px) {
    .game{
        margin-bottom: 0%;
    }

    .gameImageContainerLeft,
    .gameImageContainerRight {
        height: 50%;
        width: 100%;
        margin-bottom: 0;
    }

    .gameInfoLeft {
        position: relative;
        top: -9%;
        right: 0;
        padding: 1rem;
        width: 600px;
    }

    .gameInfoRight {
        position: relative;
        top: -8%;
        left: 0;
        padding: 1rem;
        width: 600px;
    }
}

@media screen and (max-width: 450px){
    .gameInfoLeft,.gameInfoRight{
        width:300px;
        top:-6%;
    }
    .gameImageContainerLeft,.gameImageContainerRight{
        height: 40%;
    }
    .games{
        gap: 0px;
    }
}